# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
numpy
pandas
matplotlib
pytest
sphinx
tqdm
scipy
scikit-learn
os
matplotlib
sys
time
pyvista
pytest
##########
sphinx
sphinx_rtd_theme


