name: Deploy Docs to GitHub Pages

on:
  push:
    branches: [dev] # Or master, or your default branch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Add this to fetch all history for proper link resolution

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt  # If you have a requirements file
          pip install sphinx sphinx-rtd-theme sphinxcontrib.bibtex # Install the missing dependency

      - name: Build documentation
        run: |
          make -C docs html # Assuming your Sphinx Makefile is in the docs/ directory

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages #  The branch where the documentation will be deployed.  CHANGED to gh-pages
          folder: docs/build/html # The output directory of your built documentation
